// stylelint-disable max-nesting-depth, no-descending-specificity

.grid {
  /* center */
  margin: 0 auto;
}

.card {
  width: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 2.25rem);
  margin-bottom: 20px;

  &::before,
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content {
    --gap: 0rem;

    display: grid;
    justify-items: center;
    gap: var(--gap);

    p {
      font-size: 1.05rem;
      line-height: 1.75;
      text-align: center;
    }
  }

  &__image {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.25rem;
  }

  &--episode {

    .card__content {
      margin-top: 1rem;
      a {
        &::before {
          content: "";
          position: absolute;
          inset: 0;
        }

        @supports selector(:focus-within) {
          --outline-color: transparent;
        }
      }
    }
  }

  &--text,
  &--episode {
    &::before {
      top: -1px;
      height: calc(100% + 1px);
      transition: transform 240ms ease-in;
      border-radius: 0.25rem;
      background-image: linear-gradient(35deg, #9b59b6, #1abc9c);
    }

    &::after {
      background-image: linear-gradient(
        to bottom,
        lighten($background-color, 25%),
        mix($primary-color, #000, 5%) 0.75rem
      );
    }

    &:focus-within,
    &:hover {
      &::before {
        transform: scale(1.03);
      }
    }

    &:focus-within::after {
      outline: 1px dotted;
      outline-offset: -0.55rem;
    }

    :focus {
      scroll-margin-bottom: 40vh;
    }

    a.card__title {
      font-size: 1.35rem;
      line-height: 1.15;
      text-decoration: none;

      &:not([class*="color"]) {
        color: $primary-color;
      }
    }
  }
}
